<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Twitter Analysis</title>
  <meta name="description" content="Twitter Analysis">
</head>

<body>
  <script src="js/scripts.js"></script>
<style>
body {
    background-color:#D4D4D4;
},
div {
   
}
.centered {
  position: fixed;
  top: 40%;
  left: 20%;
  margin-top: -50px;
  margin-left: -100px;
}
</style>

<form method="POST">
  <div class="centered">
    <label for="query">Hashtag : </label>
    <input type="text" id="query" name="query" size="30" style="text-align:center;">
    <button>Submit</button>
  </div>
  <div style="width:800px; margin:0 auto;">
    
  </div>
</form>

</body>
</html>

